.battery-container {
  width: 100px;
  height: 80%;
  border: 1px solid #fff;
  border-radius: 12px;
  position: relative;
  background-color: transparent;
}

.battery-level {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0.4turn, #01F2CF, #03DA9A, #03B3DA);;
  border-radius: 0 0 11px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.battery-percentage {
  width: 100%;
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
